.choresText {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:aquamarine;
   font-size: 2.3vw;
   font-style: italic;
   text-align: left;
   
   
}

.choresHeading {
   color: seagreen;
   text-decoration: underline;
   text-align: left;
}